<div class="logo">
<img class="logo__icon" src="/img/home-icon.png"/>
<span class="logo__text">
</span>
</div>
<nav class="app-nav">
	<ul class="app-nav__list">
		<li class="app-nav__list-item">
				<a class="app-nav__link app-nav__link--is-active" href="/">
					home
				</a>
		</li>
		
		<li class="app-nav__list-item">
				<a class="app-nav__link" href="/ViewDicts">
					View Dicts
				</a>
		</li>

		<li class="app-nav__list-item">
				<a class="app-nav__link" href="/ViewDict">
					View Dcit
				</a>
		</li>

		<li class="app-nav__list-item">
				<a class="app-nav__link" href="/ViewTyp">
					View Typ
				</a>
		</li>

		<li class="app-nav__list-item">
			<a class="app-nav__link" href="/ViewGamePoints">
				View Points
			</a>
		</li>

		<li class="app-nav__list-item">
				*
		</li>		
		
		<details class="app-nav__list-down">
			<summary>DANE JSON </summary>
			<ul>
				<li class="app-nav__list-item">
					<a class="app-nav__link" href="/dicts">
						dicts Vw
					</a>
				</li>
				<li class="app-nav__list-item">
					<a class="app-nav__link" href="/dict">
						dict
					</a>
				</li>
				<li class="app-nav__list-item">
					<a class="app-nav__link" href="/type">
						typ
					</a>
				</li>
		
				<li class="app-nav__list-item">
					<a class="app-nav__link" href="/gamePoints">
						Punktacja Vw
					</a>
				</li>
		
					</ul>
		  </details>
		

	</ul>
</nav>

