   <ul>
      <li><a href="http://twitter.com"><i class="fa fa-twitter-square"></i></a></li>
      <li><a href="http://facebok.com"><i class="fa fa-facebook-square"></i></a></li>
      <li><a href="http://snapchat.com"><i class="fa fa-snapchat-square"></i></a></li>
      <li><a href="http://pinterest.com"><i class="fa fa-pinterest-square"></i></a></li>
      <li><a href="http://github.com"><i class="fa fa-github-square""></i></a></li>
    </ul>