<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/css/styles_resp_flex.css">
  <% include ./partials/head %>

</head> 

<body>

<header class="app-header">
    <% include ./partials/header %>
</header>

  <section class="hero">
    <div class="background-image" ></div>

      <section class="our-work">
        <ul class="grid">
          <li class="small" style="background-image: url(/img/coast.jpg);"></li>
          <li class="large" style="background-image: url(/img/island.jpg);"></li>
        </ul>
      </section>



  </section>


  <footer>
      <% include ./partials/media %>

      <p>Idź do <a href="http://tutorialzine.com/" target="_blank">stronki 'tutorialzine'</a>.</p>
      <p><a href="https://speckyboy.com/" target="_blank">darmowe templatki</a>.</p>
      <p>darmowe zdjęcia:  <a href="http://unsplash.com/" target="_blank">unsplash</a>.</p>
  </footer>


</body>
</html>
